.feedbackMsg {
  // background-color: #006600;
  font-size: 20px;
  margin-top: 25px;
  width: 250px;
  border-radius: 10px;
  border: 5px solid black;
  color: white;
  padding: 5px;
  background: url("/assets/chalkboard1.jpg");
}

#message-single {
  margin: 25px auto 10px auto;
  display: block;
}

#message1 {
  display: inline-block;
  margin-right: 5%;
}


#allRight {
  width: 400px;
  height: 85px;
  background: url("/assets/chalkboard1.jpg");
  margin: auto;
  font-variant: small-caps;
  border: 5px solid black;
  border-radius: 10px;
  color: white;
  font-size: 3em;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

#notRight {
  width: 550px;
  height: 85px;
  background: url("/assets/chalkboard1.jpg");
  margin: auto;
  font-variant: small-caps;
  border: 5px solid black;
  border-radius: 10px;
  color: white;
  font-size: 3em;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
