
.unitOneContainer {
  margin-top: 100px;
}

.dropBoxContainer {
  padding: 30px;
}

.senLabel{
  padding: 10px;
  position: absolute;
}

.card-content.senDb {
  height: 280px;
  // background: blue;
  padding-top: 60px;
}

.draggable {
  color: oldlace;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  background-color: teal;
  border-radius: 20px;
  box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.75);
  // border: 3px solid black;
  padding: 15px;
  height: 75px;
  display: inline-block;
  z-index: 3;

}

.inPrompt {
  position: absolute;
  left: 0px;
  top: 0px;
}

.inBox {
  position: relative;
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

.dragFootprint {
  position: relative;;
  z-index: 0;
  font-size: 30px;
  background-color: lightgray;
  margin: 10px;
  padding: 15px;
  height: 75px;
  border-radius: 20px;
  font-family: 'Oswald', sans-serif;
  display: inline-block;
}
