#openingPrompt {
  background-color: #e7e7e7;;
  border: solid 2px black;
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 5px;
  margin: auto;
  max-width:50%;
  border-radius: 10px;
}
