.add-cohort-submit {
  border-radius: 0px;
  height: 34px;
}

.add-cohort-form {
  margin-top: 5px;
  vertical-align: middle;
}

.cohort-access-code {
  height: 34px;
  margin-left: 3px;
  vertical-align: middle;
}
